.generale-car{
  background-color: #0A2E36;
  margin: 20px;
  border-radius: 5px;
  color: white;
  font-family: 'Fira Sans', sans-serif;
}

.pics-car {
  height: 300px;
  width: auto;
}



.history-btn{
  background-color: red;

}
