.div2-event {
  margin-left: 20px;
  margin-right: 20px;
  border-top: 7px solid #a91c1c;
  border-right: 7px solid #a91c1c;
  margin-top: none;
  border-radius: 0px 5px 0px 0px;
  p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
  }
  a{
    font-weight: lighter;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 50px;
  }
}


.event-infos {
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
  margin-bottom: 10px;
}

.card-event {
  background-color: white;
  margin-bottom: 15px;
  border-radius: 5px 0px 0px 5px;
}

.event-pic {
  border-radius: 5px 0px 0px 0px;
  margin-bottom: 10px;
}


.enroll-button {
  transition-duration: 0.4s;
  border: 2px solid #90BE6D;
  padding: 5px 10px;
  border-radius: 5px;
  color: #90BE6D;
  margin-bottom: 10px;
}

.enroll-button:hover {
  background-color: #90BE6D;
  color: white;
}

.cancel-button {
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid #a91c1c;
  padding: 5px 10px;
  border-radius: 5px;
  color: #a91c1c;
  margin-bottom: 10px;
}

.cancel-button:hover {
  background-color: #a91c1c;
  color: white;
}

