.banner-event{
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 500px;
}
.banner-event h2 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding-left: 15px;
}
.banner-event h3 {
  font-size: 25px;
  opacity: .7;
  margin: 15px;
}
