// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 67px 20px;
  background-image: asset-url("porsche_deb.jpeg"), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-attachment: fixed;
}


.banner h1 {
  margin: 0;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-size: 95px;
  opacity: 0.8;
}

.banner h6 {
  font-size: 20px;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  font-size: 22px;
  padding-top: 136px;

}
.banner p {
  a{
    font-size: 20px;
  }
  color: white;
  font-family: 'Fira Sans', sans-serif;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // margin: 0px 20px;
  text-align: center;
  font-size: 22px;
  padding-top: 46px;
}

.btn-homepage-sign {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  border: 1px solid white;
  padding: 10px;
  border-radius: 30px;
}

.btn-homepage-sign:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.btn-homepage-cars a {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  border: 1px solid white;
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;
}

.btn-homepage-cars a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.container-homepage {
  text-align: center;
  padding-top: 180px;
  font-family: 'Fira Sans', sans-serif;
  border: 5px #F3EFF5;
  h2{
    color: #F3EFF5;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
  }
}

.card-homepage-body{
  color: #F3EFF5;
  // border: 1px solid #F3EFF5;
  font-family: 'Fira Sans', sans-serif;
  border-radius: 15px;
  background-color: #0A2E36;
  padding: 40px;
  opacity: .9;
  margin: 45px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
  }
}
.card-homepage-text {
  h3 {
    font-size: 18px;
    font-weight: bolder;
    color: #F3EFF5;
    opacity: .9;
    filter: brightness(90%);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  p {
    font-size: 16px;
    color: #F3EFF5;
    font-weight: bold;
    padding-top: 15px;
    font-weight: lighter;
  }
}
