.cards-maint {
  margin-top: 20px;
  margin-inline: 20px;
  border-top: 7px solid #a91c1c;
  border-right: 7px solid #a91c1c;
  border-radius: 0px 5px 0px 0px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  border-radius: 0px 0px 0px 5px;
  position: relative;
  transition: 2s;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: 900;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  font-family: 'Fira Sans', sans-serif;
}

.card-product{
  h6{
    font-family: 'Fira Sans', sans-serif;
  }
}

.card-product .card-product-infos {
  padding: 16px;
  font-family: 'Fira Sans', sans-serif;
}

.card-product-infos {
  h2{
    font-family: 'Fira Sans', sans-serif;
  }
  p{
    font-family: 'Fira Sans', sans-serif;
  }
}

h4 {
  position: absolute;
  top: 32px;
  right: 23px;
  font-size: 35px !important;
  color: black;
}

h4:hover {
  font-size: 40px;
  top: 30px;
}


.rien-que-ca-flex {
  display: flex;
  align-items: center;
}


.expansion {
  transition: 2s;
  height: 350px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px !important;
}

.switch {
  transform: rotate(180deg);
  transition: 0.4s;
  margin-top: 18px;
}

h6 {
  padding-top: 15px;
  margin-inline: 20px;
  text-align: justify;
}
