.div1-home {
  h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
  }
  h3 {
    font-family: 'Fira Sans', sans-serif;
  }
}

.div2-home {
  p {
    font-family: 'Fira Sans', sans-serif;
  }
}
