.div1-home {
  margin-left: 20px;
  margin-right: 20px;
  h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #0A2E36;
    color: #0A2E36;
  }
  h3 {
    font-family: 'Fira Sans', sans-serif;
    font-size: small;
    font-style: italic;
    text-align: center;
    color: #0A2E36;
  }
}

.div2-home {
  margin-left: 20px;
  margin-right: 20px;
  border-top: 7px solid #a91c1c;
  border-right: 7px solid #a91c1c;
  margin-top: none;
  border-radius: 0px 5px 0px 0px;
  p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
  }
  a{
    color: white;
    font-weight: lighter;
    font-family: 'Fira Sans', sans-serif;

  }
}

.marque {
  margin-right: 10px;
}

.card-home {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 0px 0px 0px 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  position: relative;
  img {
    height: 180px;
    width: auto;
  }
}

.marque:hover {
  color: white;
}

.buton-home-class {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buton-home {
  transition-duration: 0.4s;
  background-color: white;
  border: 1px solid #0A2E36;
  padding: 5px 10px;
  border-radius: 50px;
  color: #0A2E36;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
}

.buton-home:hover {
  background-color: #0A2E36;
  color: white;
}

.supp {
  position: absolute;
  top: -19px;
  right: 7px;
  font-weight: lighter;
  transform: rotate(45deg);
  a {
    font-size: 38px;
    color: white;
  }
}

.supp:hover {
  a {
    color: #a91c1c;
  }
}
