.div1-home {
  h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
  }
  h3 {
    font-family: 'Fira Sans', sans-serif;
  }
}

.div2-home {
  p {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
  }
}

.card-home {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  img {
    height: 180px;
    width: auto;
  }
}
