<div class="div2-garage">
  <h2><%= garage.name %></h2>
  <p><%= garage.address %></p>
  <p>Spec : <%= garage.specialty %></p>
  <a href="tel:+32479137700", class="text-decoration-none">☎<%= garage.phone_number %></a>
</div>
