<div class="banner-cars">
  <h1>Happy to see you again</h1>
  <h3>My cars</h3>
</div>

<div class="cards-cars">
  <% @user.cars.each do |car| %>
    <%= link_to car.brand, car_path(car) %>
  <% end %>
</div>

<div>
  <%= link_to "Add a car", new_car_path %>
</div>
