<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/philip_chh/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/boris.paillard"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/hamilcali/status/1528384895906725889"><i class="fab fa-twitter"></i></a>
  </div>
  <%# <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Valentin, Alexandre and Augusto
  </div> %>
</div>
