<div class="banner-events">
  <h1>Events</h1>
  <h3>Take a look at the events that might interest you</h3>
  <div class="btn-add-event">
    <%= link_to "Add a event", new_event_path  %>
  </div>
</div>
