<style>
  .navbar-lewagon {
    display:none;
  }
</style>
<div class="banner">
  <div class="container">
    <h1>MythiCar</h1>
    <h6>Join the ride !</h6>
    <% if user_signed_in? %>
      <div class="btn-homepage-cars">
        <p><%= link_to "See My Cars", user_path(current_user) %></p>
      </div>
    <% else %>
      <p><a class="btn-homepage-sign" href="/users/sign_up">Sign Up now/ Log-in</a></p>
    <% end %>
  </div>

  <div class="container-homepage">
    <h2>Our concept</h2>
    <br>
    <div class="card-homepage">
      <div class="card-homepage-body">
        <div class="card-homepage-text">
        <h3>We make your car is easier for you</h3>
        <p>By gathering all the information (for example: Technical Control,etc.) in the application, making the administration simpler and more accessible. </p>
        </div>
      </div>
      <div class="card-homepage-body">
        <div class="card-homepage-text">
          <h3>New era of administration</h3>
          <p>In this way the use of these papers become digitalized, so no more useless papers (that everyone loses). That makes it also sustainable.</p>
        </div>
      </div>
      <div class="card-homepage-body">
        <div class="card-homepage-text">
          <h3>Join your friends for a ride</h3>
          <p>Find, or create, nice car events happening near your location, that you will love to do with your friends</p>
        </div>
      </div>
    </div>
  </div>
</div>
