<% @maintenances.each do |maintenance| %>
  <%= link_to maintenance.title, car_maintenance_path(@car, maintenance) %><%= link_to "🗑",
                                                                                maintenance_path(maintenance),
                                                                                method: :delete,
                                                                                data: { confirm: "Are you sure?" } %>
<% end %>

<br>
<%= link_to "Add a document", new_car_maintenance_path %>
<p>lol</p>
