.footer {
  background: white;
  display: flex;
  // align-items: center;
  justify-content: space-around;
  position: fixed;
  height: 75px;
  padding: 0px 50px;
  // color: rgb(0, 0, 0);
  bottom: 0;
  width: 100%;
  color: #90BE6D;
  z-index: 2;

}
.footer-links {
  color: #90BE6D;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin: 1rem 0 1rem 0;
  // padding: 5 5 5 5;
  a {
    // margin-inline: 30px;
    // color: #90BE6D;
    // opacity: 0.9;
    // text-decoration: none;
    // font-size: 24px;
    // :hover {
    //   color: #90BE6D;
    // }
  }
}

.old-timer {
  // border-left: 1 solid black !important;
  // border-right: 1 solid black !important;
  // border-left: black solid;
  // border-right: black solid;
  // height: 100% !important;
  // margin: none;
  img {
    width: 85px;
    margin-left: 35px;
    margin-right: 35px;
    // border: 1px solid black;
    // padding-left: 40px;
    // padding-right: 40px;
  }
}

.calendar-footer img {
  width: 40px;
  margin-right: 40px;
  // border-right: 0.5 solid black !important;

}

.point-footer img {
  width: 40px;
  margin-left: 40px;
  // border-left: 0.5 solid black !important;
}

.deux {
  // z-index: 10;
  // border: 1 solid black !important;
  // height: 100%;
  // border-right: 1 solid black !important;
  border-left: black solid;
  border-right: black solid;
}
