.navbar-lewagon {
  background: white;
  text-align: center;
  position: relative;
  margin: 5px;
}

.avatar-dropdown{
  float: right !important;
  position: absolute !important;
  top: 0;
  right: 0;
  margin:5px;
  text-align: end;
  z-index: 1;
}

.navbar-lewagon .navbar-link img {
  width: 90px;
  display: inline-block;
}
