<div>
  <div>
    <h1>Update your features</h1>
  </div>
    <%= simple_form_for [@car, @feature] do |f| %>
      <%= f.input :spec %>
      <%= f.input :last_date %>
      <%= f.submit :submit %>
    <% end %>
</div>
